<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssf.dao.ICategoryDao">
    
    <sql id="columns">
       a.id,
       a.name,
       a.parent_id AS 'parentId',
       a.parent_ids AS 'parentIds',
       a.create_time AS 'createTime',
       a.update_time AS 'updateTime'
    </sql>
    
    <select id="findAll" resultType="Category"><!-- 如果你定义了别名你就可以简化你的写法 -->
         SELECT 
         	<include refid="columns"/> 
         FROM sys_category a
    </select>
    
    <select id="findById" resultType="Category">
		SELECT
			<include refid="columns"/>
		FROM sys_category a
		WHERE a.id = #{id}
	</select>
  
   <!--  -->
   <select id="findAllList" resultType="Category">
		SELECT
			<include refid="columns"/>
		FROM sys_category a
		LEFT JOIN sys_category p ON p.id = a.parent_id
	</select>
	
	 <select id="findPage" resultType="Category" parameterType="int">
		SELECT
			<include refid="columns"/>
		FROM sys_category a
		LIMIT #{0},#{1}
	</select>
	
</mapper>